/archivos de texto.py
/base_de_datos.py
/base_de_datos_2.py
/base_de_datos_3.py
/clientes
/datos.txt
/EJERCICIO-colorama.py
/ejercicio_archivo.py
/ejercicio_try_except.py
/leer_archivo.py
/Nuevo Documento de texto.txt
/proyecto final.txt
/pruebas.py